In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('1.csv')
df2 = pd.read_csv('2.csv')
df3 = pd.read_csv('3.csv')
df4 = pd.read_csv('4.csv')
df5 = pd.read_csv('5.csv')
df6 = pd.read_csv('6.csv')
df7 = pd.read_csv('7.csv')
df8 = pd.read_csv('8.csv')

In [ ]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True)
df.tail()

     emoji            makna
1527     üßæ     Tanda Terima
1528    ‚è±Ô∏è        Jam Sukat
1529    üïπÔ∏è     Tuas Kendali
1530     üìØ  Terompet Postal
1531    ‚öíÔ∏è   Palu dan Pahat

In [ ]:
df.shape

(1532, 2)

In [ ]:
df['emoji'].value_counts().head(17)

üóø     2
üê´     2
üå∞     2
üö∞     2
‚õ±Ô∏è    2
üßµ     2
üß∂     2
üí∑     2
üçÑ     2
üö£     2
üßÄ     2
üìØ     2
üí∂     2
üí¥     2
üíµ     2
üå†     2
üåè     1
Name: emoji, dtype: int64

In [ ]:
# drop duplicate
df = df.drop_duplicates(subset='emoji').reset_index(drop=True)
df = df.drop_duplicates(subset='makna').reset_index(drop=True)

In [ ]:
df.shape

(1513, 2)

In [ ]:
df.to_csv('emoji_to_text.csv', index=False)